{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <legend class="border-bottom mb-4">Sobre el licenciamiento de este código</legend>
            <p class="article-content">Este código está licenciado bajo MIT para los usuarios de <i>i</i>Lab. Para los demás, deben conseguir una licencia especial si quieren utilizar este código con usos comerciales. Para fines educacionales se le puede conceder una licencia GPLv3 si la solicitan a israel.figueroa@ilab.cl.</p>
          </div>
        </article>
        <article class="media content-section">
        <div class="media-body">
            <legend class="border-bottom mb-4">Sobre el funcionamiento</legend>
            <p class="article-content">El código está pensado para mostrar un contenido web básico utilizando Flask y Python 3. El código incluye un instalador como servicio, que permite que el programa se inicie cada vez que prenda el sistema. </p>
          </div>
        </article>
{% endblock content %}
